<ul>
      <li>
        <a href = "{{ 'about/' | relative_url }}">
          About
        </a>
      </li>
      <li>
        <a href = "{{ 'projects/' | relative_url }}">
          Projects
        </a>
      </li>
      <li>
        <a href = "{{ 'publications/' | relative_url }}">
          Publications
        </a>
      </li>
      <li>
        <a href = "{{ 'playground/' | relative_url }}">
          Playground
        </a>
      </li>
      <li>
        <a href = "{{ 'news/' | relative_url }}">
          News
        </a>
      </li>
</ul>
